.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    img {
        display: block;
    }
}

footer {
    @include flex(column, center);
    background: $colorLightmoderatecyan;
    padding: 70px;
    .logo {
        margin-bottom: 2.5rem;
    }
    .footer-link {
        @include flex(row, center);
        gap: 1rem;
        a {
            text-decoration: none;
            color: $colorDarkmoderatecyan;
            margin-bottom: 5rem;
            font-size: 1.1rem;
            font-family: 'Barlow', sans-serif;
            font-weight: 600;
            transition: all 0.5s ease-in-out;
            &:hover {
                color: $colorWhite;
            }
        }
    }
    .social-link {
        @include flex(row, center);
        gap: 1rem;
        margin-bottom: 3rem;
    }
    .attribution {
        color: $colorDarkmoderatecyan;
        a {
            color: $colorDarkmoderatecyan;
            text-decoration: none;
            &:hover {
                color: $colorWhite;
            }
        }
    }
}

@media (min-width: 992px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    footer {
        .footer-link {
            gap: 3rem;
        }
        .social-link {
            gap: 1.5rem;
            margin-bottom: 4.5rem;
        }
    }
}