.testimonials {
    @include flex(column, center);
    background-color: $colorWhite;
    text-align: center;
    margin: 6rem auto;
    h2 {
        margin-bottom: 3.7rem;
        color: $colorGrayishblue;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 1rem;
    }
    .testimonials-container {
        @include flex(column, center);
        width: 85%;
        height: auto;
        gap: 1rem;
        .testimonials-card {
            img {
                border-radius: 50%;
                width: 75px;
                margin-bottom: 3.1rem;
            }
            p {
                font-size: 1.1rem;
                line-height: 28px;
                color: $colorVerydarkgrayishblue;
                font-family: 'Barlow', sans-serif;
                font-weight: 600;
                margin-bottom: 3.7rem;
            }
            h3 {
                @include flex(column, center);
                font-size: 1.1rem;
                color: $colorVerydarkdesaturatedblue;
                span {
                    color: $colorVerydarkgrayishblue;
                    font-size: .8rem;
                    font-family: 'Barlow', sans-serif;
                    font-weight: 600;
                    margin-top: .8rem;
                }
            }
        }
    }
}

@media (min-width: 633px) {
    .testimonials {
        @include flex(column, center);
        .testimonials-container {
            width: 55%;
            gap: 2rem;
            .testimonials-card {
                @include flex(column, center);
                img {
                    margin-bottom: 2rem;
                }
                p {
                    font-size: 1rem;
                    line-height: 28px;
                    margin-bottom: 2.5rem;
                }
                h3 {
                    @include flex(column, center);
                    font-size: 1.1rem;
                    span {
                        font-size: .8rem;
                        margin-top: .8rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .testimonials {
        @include flex(column, center);
        margin: 4.3rem auto;
        h2 {
            margin-bottom: 4.3rem;
            letter-spacing: 0.3rem;
            font-size: 1rem;
        }
        .testimonials-container {
            @include flex(row, center);
            width: 85%;
            height: auto;
            gap: 1rem;
            .testimonials-card {
                img {
                    border-radius: 50%;
                    width: 75px;
                    margin-bottom: 3.1rem;
                }
                p {
                    font-size: 1.1rem;
                    line-height: 28px;
                    color: $colorVerydarkgrayishblue;
                    font-family: 'Barlow', sans-serif;
                    font-weight: 600;
                    margin-bottom: 3.7rem;
                }
                h3 {
                    @include flex(column, center);
                    font-size: 1.1rem;
                    color: $colorVerydarkdesaturatedblue;
                    span {
                        color: $colorVerydarkgrayishblue;
                        font-size: .8rem;
                        font-family: 'Barlow', sans-serif;
                        font-weight: 600;
                        margin-top: .8rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1397px) {
    .testimonials {
        margin: 10rem auto;
        h2 {
            font-size: 1.5rem;
        }
        .testimonials-container {
            width: 80%;
            .testimonials-card {
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}